* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --quote: hsl(193, 38%, 86%);
  --button--id: hsl(150, 100%, 66%);
  --hr: hsl(217, 19%, 38%);
  --bg-app: hsl(217, 19%, 24%);
  --bg: hsl(218, 23%, 16%);
}

body{
  font-family: sans-serif;
  background-color: var(--bg)
}

button{
  cursor: pointer;
}

.App{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
